html{
	background-color: silver;	
}
h1{
	text-align: center;

}

#ul1{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left: -10px;
    margin-right: -10px;
}
#li1{
	float: left;
	 }
#ali1{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#ali1:hover{
	background-color: #111;
}